.cardContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.art{
  width: 300px;
  border-radius: 10px;
}

.likeBtn{
  color: #0752e9;
}

.likeBtn:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
  color: #023293;
}

.likeCount{
  color: rgb(98, 98, 98);
  margin-left: 5px;
}